

<div class="align-items-start">

    <%= render partial: 'form', locals: {
      url: task_path(@task.id),
      method: :patch, 
      button_text: "Save Changes"
      }
    %>
    <br>
        <% if !@task.image_url.nil? %>  
          <img src="<%= @task.image_url %>" class="thumbnail">
        <% end %>
      </div>
